<html>
  <head>
    {% if page.title %}
      <title>{{page.title}} | {{ site.title }}</title>
    {% else %}
      <title>{{ site.title }}</title>
    {% endif %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <script type="text/javascript">
      WebFontConfig = {
        google: { families: [ 'Droid+Sans::latin' ] }
      };
      (function() {
        var wf = document.createElement('script');
        wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
          '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
        wf.type = 'text/javascript';
        wf.async = 'true';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(wf, s);
      })();
    </script>
    <link rel="stylesheet" type="text/css" href="/stylesheets/screen.css">
  </head>
  <body>
    {% include spine.html%}
    <section id="content">
      {{content}}
    </section>
    {% include ga.html %}
  </body>
</html>